
.body{
    background: yellowgreen;
}

.navabar{
    padding: 2rem;
    background-color: rgb(21, 22, 23);
}

.navbar-collapse{
    background-color:  rgb(117, 110, 110);

    align-items: center;
    justify-content: space-between;
}
/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;

}
.seccion-oscura{
    color: white;
    background-color: rgb(23, 23, 23);

}

.seccion-clara{
    color: black;
    background-color: white;
}
.foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 20px;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
    margin-bottom: 4rem;
}
.seccion-texto{
    font-size: 1.2rem;
}

.btn-secondary {
    font-size: 1.1rem;
    margin: 20px;
    font-weight: bold;
}

.bi-arrow-right-circle-fill{
    color: rgb(47, 44, 44);
}


/* principal */
.hero-principal{
    padding: 3rem;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: rgb(61, 58, 58);
}

.hero{
    background-color: rgb(191, 183, 183);
    min-height: 450px;
    text-align: center;
}

/* section 2 */

.sobre-dogo{
    height: 500px;
    padding: 10px;
}
.sobre-dogo .contenedor{
    max-width: 600px;
    text-align: center;

}


/* adaptable (resposnsive) */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}



@media screen and (max-width: 400px) {
    .overlay p {
        font-size: 18px;
    }
    .overlay i {
        font-size: 40px;
    }
}
/* @media screen and (min-width:700px){
    .hero-inferiror-imagen{
        max-width: 100%;
    }
} */
.hero-inferior{
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    background-size: cover;
}
.experiencia{
    padding: 40px 40px 60px 40px;
}
.experiencia-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
.experiencia i {
    font-size: 2.5rem;
    color: white;
    background-color: rgb(26, 25, 25);
    padding: 8px 19px;
    border-radius: 50%;

}

.badges-contenedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badges{
    margin: 5px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid rgb(54, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;

}
.experiencia .columna:hover{
    color: white;
    background-color: rgb(70, 66, 66);
}

/* cuarta seccion */

.proyectos-recientes{
    padding: 40px;

}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    transition: all 0.2s ease;
}

.proyecto-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;

}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}
.proyecto:hover .overlay{
    opacity: 1;
}

.proyecto:hover img{
    opacity: 0.2;
}


.texto-negro{
    color: black;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: rgb(37, 37, 37);
    margin-bottom: 3rem;
}

.overlay .iconos-contenedor{
    display: flex;

}

.overlay i {
    font-size: 40px;
    margin: 10px;
}

/* potencia dogo */

.articulos{
    min-height: 500px;
    padding: 30px;
}
.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}
.card-header{
    font-weight: bold;
}

.testimonios{
    padding: 40px 40px 80px 40px;
}

.testimonios .carousel{
    max-width: 500px;
}

.carousel-item {
    height: 500px;
    width: 500px;
    border-radius: 20%;
}

/* footer */

.footer{
    min-height: 500px;
}

.footer-icon{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.derechos-de-autor{
    font-size: 18px;
    padding: 20px;
}
